form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;

    .validation {
        font-size: 14px;
        color: red;
        &.hide {
            display: none;
        }
    }
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#results {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    column-gap: 10px;
}
